<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Introduction
- Popular Languages
- Common Libraries
- Table Creation
- Arithmetic Operation

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

## Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Numpy
* Matplotlib
* ScikitLearn
* Seaborn

| Data Science Tools |
| ------|
| Python |
| Apache Hadoop |
| Apache Spark |
| Jupyter Lab |
| Git |
| R |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
((3*4)+5) # This a simple arithmetic expression to mutiply then add integers

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
x = 200/60
print("Minutes to Hours :" + str(x))

Minutes to Hours :3.3333333333333335

## Author
Samanth